.card {
    border: 1px solid silver;
    border-radius: 10px;
    margin: 5px auto;
    width: 85%;
    padding: 15px 35px 30px 10px;
    text-align: justify;
}
.card-body img {
    width: 30%;
    float: left;
    margin-right: 20px;
}
.card-body p {
    text-indent: 30px;
}